*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 10px;
}